/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500');

* {
    font-family: 'Sansita Swashed', cursive;
}

.main-text {
    margin: 100px;
    font-size: 1.1em;
}